.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.*
!.env.example
.idea/
.idea/inspectionProfiles/Project_Default.xml
.idea/mekayalar.com.iml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
