:root {
    --background-color: #FFFFFF;
    --color: #24292E;
    --light-color: #57606A;
    --image-bgc: #bc8aea;
    --menu-hover: #2f2f2fc1; /* TODO: DO NOT FORGET */
    --divider: #D0D7DD;
}

[data-theme=dark] {
    --background-color: #232326;
    --color: #D7D7DB;
    --light-color: #A1A1A9;
    --image-bgc: #bc8aea;
    --menu-hover: #2f2f2fc1;
    --divider: #313136
}

body {
    -webkit-font-smoothing: antialiased;
    font-family: 'Catamaran', sans-serif;
}

.wrapper{
    padding: 0 100px;
    display: flex;
}