body {
  -webkit-font-smoothing: antialiased;
  padding: 0 100px;
  font-family: 'Catamaran', sans-serif;
  display: flex;
  background-color: var(--background-color);
  color: var(--color);
}

header {
  margin-top: 75px;
  height: 83vh;
  width: 23%;
  color: var(--color);
  position: relative;

  .logo {
    padding: 10px 15px;
    @include flex-display(flex, center, start);
    
    img {
      width: 70px;
      border-radius: 50%;
      background-color: var(--image-bgc);
    }

    .title {
      margin-left: 15px;
      margin-top: 8px;

      span {
        font-size: 1.2rem;
        font-weight: bold;

        &:nth-child(2){
          font-size: .8rem;
          margin: 5px 0;
        }
      }
    }
  }

  nav {
    margin-top: 25px;
    margin-left: 16px;

    ul {
      li {
        padding: 10px;
        margin: 3px 0;

        a {
          font-size: 1rem;
          color: var(--color);
          text-decoration: none;
          padding: 3px 8px;
          border-radius: 7px;

          &:hover {
            color: #fff;
            background-color: var(--menu-hover);
          }
        }

        .active {
          color: #fff;
          background-color: var(--menu-hover);
        }
      }
    }
  }

  .signature {
    position: absolute;
    bottom: 10px;
    left: 25px;
    font-size: 1rem;
    line-height: 1.5;
    background-color: var(--menu-hover);
    padding: 8px 10px;
    border-radius: 5px;
    text-align: center;
  }
}

main {
  margin-top: 30px;
  margin-left: 15px;
  width: 55vw;
  overflow-y: scroll;


  .buttons {
    padding: 5px;
    display: flex;
    justify-content: space-between;

    button {
      background-color: transparent;
      border: 0;
      font-size: 1.5rem;
      cursor: pointer;

      &:focus {
        outline: none;
      }

      &:hover {
        border-radius: 50%;
        background-color: var(--menu-hover);
      }
    }

    .spotify{
      &:hover{
        background-color: transparent;
      }
    }

    .font-buttons {
      fill: var(--color);
      display: flex;
      justify-content: flex-end;

      button {
        border-radius: .5rem;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 2.25rem;
        width: 2.25rem;

        &:hover {
          border-radius: 10%;
        }
      }
    }

    .buttons-right{
      display: flex;
      align-items: center;
      .font-buttons {
        width: 100px;
        margin-left: 10px;
        fill: var(--color);
        display: flex;
        justify-content: flex-end;
        @extend %button;
      }

      .icons{
        display: flex;
        @extend %button;
      }
    }

  }

  .container {
    margin-top: 50px;
    font-size: 16px;

    .content {
      margin: 50px 0;

      h2 {
        font-size: 1.3em;
        color: #fafafa;
        margin-bottom: 10px;
      }

      span {
        color: #71717A;
      }
    }

    h1 {
      font-size: 2em;
    }

    h2 {
      font-size: 1.5em;
    }

    .welcome {
      p {
        font-size: 1.5em;
        margin-top: 20px;
        color: var(--light-color);
      }
    }

    .socials {
      margin: 10px 0;

      a {
        text-decoration: none;

        svg {
          width: 25px;
          margin-right: 5px;
          padding: 5px;
          border: 2px solid var(--divider);
          border-radius: 50%;

          &:hover {
            border-color: #3b3b3b;

            path {
              fill: #fff;
            }
          }

          path {
            fill: var(--color);
          }
        }
      }
    }

    .date_list_block {
      margin-top: 30px;

      .item {
        margin-top: 20px;
        align-items: baseline;
        box-sizing: border-box;
        display: grid;
        grid-template-columns: clamp(7em, 30vw, 1.5rem) 1fr;
        margin-bottom: calc(.5 * 1.5em);
        max-width: 50vw;

        .label {
          font-size: 1.1em;
          box-sizing: border-box;
          color: #797673;
        }

        p {
          box-sizing: border-box;
          font-size: 1.1em;
          font-weight: 400;
          margin: 0.5em 0;
          max-width: 38rem;
        }

        h3 {
          box-sizing: border-box;
          color: #f8f6f5;
          font-size: 1.5em;
          font-weight: 500;
          max-width: 38rem;
        }

        small {
          box-sizing: border-box;
          color: #797673;
          font-size: .9em;
          line-height: 1.5;
        }
      }
    }

    .project {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 20em 7em;
      grid-auto-columns: 1fr;
      grid-auto-rows: 1fr;
      gap: 1.5em 0;
      grid-auto-flow: row;
      grid-template-areas:
    "image"
    "information";

      .image {
        height:20em;
        grid-area: image;
        border-radius: 3px;
      }

      .information {
        margin-left: 10px;
        align-self: stretch;
        grid-area: information;
      }
    }

    .social-button {
      padding: 10px 10px;
      border-radius: 7px;
      background-color: #1f1f21;
      text-decoration: none;

      &:hover {
        background-color: rgba(#1f1f21, 0.93);
      }
    }

    .image-grid {
      display: grid;
    }
  }
}

#screen_saver {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 100;
  background-color: var(--background-color);

  span[id=korisirbiz] {
    color: var(--color);
    font-size: 14vmin !important;
    font-weight: 500 !important;
    letter-spacing: 2px !important;
  }

  .bottom {
    position: absolute;
    bottom: 4vmin !important;
    margin: 5px !important;
  }

  a.second {
    color: var(--light-color) !important;
    font-weight: 500 !important;
    text-decoration: none;
  }

  span.first {
    bottom: 6vmin !important;
    color: var(--color) !important;
  }
}

.divider {
  width: 100%;
  height: 2px;
  background-color: var(--divider);
}